@import url(reset.css);

:root {
    --blueMain: #1e3765;
    --blueNav: #001e42;
}

header {
    background-color: var(--blueMain);
    color: white;
    width: 100%;
    height: 100%;
}

#logo {
    width: 13%;
    padding: 1.75em;
}

nav {
    background-color: var(--blueNav);
    color: white;
    box-shadow: 0px 5px 4px #555555;
}

nav ul {
    padding: 1em;
    /* text-align: center; */
}

nav ul li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: inline;
}

nav ul a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

nav ul li a:hover {
    background-color: lightblue;
    color: black;
}

.spotlight-banner {
    background-image: url(../img/University_College,_University_of_Toronto-1508040446.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin: 0.5em 0;
}