@import url(reset.css);

:root {
    --blueMain: #1e3765;
    --blueNav: #001e42;
    --fontFamily: 'Gotham', Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--blueMain);
    color: white;
    width: 100%;
    height: 100%;
}

#logo {
    width: 13%;
    padding: 1.75em;
}

nav {
    background-color: var(--blueNav);
    color: white;
    box-shadow: 0px 5px 4px #555555;
}

nav ul {
    padding: 1em;
    /* text-align: center; */
}

nav ul li {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fontFamily);
    font-size: 1em;
    display: inline;
}

nav ul a {
    text-decoration: none;
    padding: 1em;
    color: white;
}

nav ul li a:hover {
    background-color: lightblue;
    color: black;
}

.spotlight-banner {
    background-image: url(../img/University_College,_University_of_Toronto-1508040446.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    margin: 0.5em 0;
}

.news-block {
    font-family: var(--fontFamily);
    position: relative;
    top: 600px;
    width: 80%;
    margin: 0 auto;
}

.news-h1 {
    background-color: var(--blueNav);
    display: flex;
    width: 0;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    color: white;
    font-weight: bold;
    box-sizing: border-box; 
}

.news-h2 {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1em 1em;
    font-family: var(--fontFamily);
    font-weight: normal;
    width: 100%;
    font-size: 2em;
    box-sizing: border-box;
}

footer {
    background-color: var(--blueMain);
    color: white;
    width: 100%;
    height: 100%;
}

.motto {
    text-align: center;
    padding: 3em;
}

.motto img {
    width: 3%;
    padding: 0.5em;
    filter: invert(100%);
}

.motto a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: var(--fontFamily);
    font-weight: bold;
    display: block;
}

.footer {
    background-color: var(--blueMain);
}

.footer-links {
    margin: 0 10%;
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    border-bottom: 1px solid white;
}

.footer-links a {
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0.5em 0;
    font-family: var(--fontFamily);
}

.land-acknowledgement {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10%;
    padding: 3em 0;
}

.land-acknowledgement h3 {
    font-size: 1.5em;
    font-family: var(--fontFamily);
    padding: 0.5em;
}

.land-acknowledgement p {
    font-size: 1em;
    font-family: var(--fontFamily);
    padding: 1em 0;
}

.land-acknowledgement a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: var(--fontFamily);
    font-weight: bold;
}
.social-media-footer {
    background-color: var(--blueNav);
    width: 100%;
    height: 150px;
}